main {
  width: 1000px;
  height: 500px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}
div {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
}
span {
  font-size: 20px;
  color: #ffffff;
}
body {
  padding: 0;
  margin: 0;
}
body .brown {
  width: 500px;
  height: 500px;
  z-index: 1;
  background-color: brown;
  margin-top: 0;
}
body .blue {
  width: 400px;
  height: 400px;
  z-index: 2;
  background-color: blue;
  margin-top: 50px;
  left: 50px;
}
body .green {
  width: 300px;
  height: 300px;
  z-index: 3;
  background-color: green;
  margin-top: 100px;
  left: 100px;
}
body .yellow {
  width: 200px;
  height: 200px;
  z-index: 4;
  background-color: yellow;
  margin-top: 150px;
  left: 150px;
}
body .red {
  width: 100px;
  height: 100px;
  z-index: 5;
  background-color: red;
  left: 200px;
  margin-top: 200px;
}
body .red span {
  margin-top: 37px;
  display: inline-block;
}
